<%= form_for(@mercancia) do |f| %>
  <% if @mercancia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mercancia.errors.count, "error") %> prohibited this mercancia from being saved:</h2>

      <ul>
      <% @mercancia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="field">
    <%= f.label :Producto_id %><br>
    <%= f.select(:Producto_id, Producto.all.collect {|a| [a.Nombre, a.id]})  %>
  </div>
  <div class="field">
    <%= f.label :Descripcion %><br>
    <%= f.text_field :Descripcion %>
  </div>
  <div class="field">
    <%= f.label :Cantidad %><br>
    <%= f.text_field :Cantidad %>
  </div>
  
    <%= f.hidden_field :Pedido_id %>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
