<%= form_for(@mercancia,html: {class: 'form-horizontal'}) do |f| %>
  <% if @mercancia.errors.any? %>
    <div class="form-group">
      <div class="col-sm-2"></div>
      <div  class=" col-sm-6 ">
        <div class="alert alert-danger">
          <% if @mercancia.errors.count > 1 %>
            <h3>Han ocurrido <%= @mercancia.errors.count %>  errores:</h3>
          <% else %>
            <h3>Han ocurrido un error:</h3>
          <% end %>
          <ul>
            <% @mercancia.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Producto_id , class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.collection_select :Producto_id, Producto.all, :id, :Nombre,{}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Descripcion, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :Descripcion, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Cantidad, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :Cantidad , class: "form-control" %>
    </div>
  </div>
  <!--
  <div class="field">
    <%= f.label :Terminado %><br>
    <%= f.check_box :Terminado %>
  </div>
-->
  <%= f.hidden_field :Pedido_id %>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
