<h1>Listing mercancias</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Pedido</th>
      <th>Producto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mercancias.each do |mercancia| %>
      <tr>
        <td><%= mercancia.Descripcion %></td>
        <td><%= mercancia.Cantidad %></td>
        <td><%= mercancia.Pedido %></td>
        <td><%= mercancia.Producto %></td>
        <td><%= link_to 'Ver', mercancia %></td>
        <td><%= link_to 'Editar', edit_mercancia_path(mercancia) %></td>
        <td><%= link_to 'Mostrar', mercancia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mercancia', new_mercancia_path %>
