<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proveedor.Nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @proveedor.Direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @proveedor.Telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @proveedor.Correo %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @proveedor.RFC %>
</p>

<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedors_path %>
