<h1>Listing pagos</h1>

<table>
  <thead>
    <tr>
      <th>Fechapago</th>
      <th>Subtotal</th>
      <th>Total</th>
      <th>Pedido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagos.each do |pago| %>
      <tr>
        <td><%= pago.FechaPago %></td>
        <td><%= pago.Subtotal %></td>
        <td><%= pago.Total %></td>
        <td><%= pago.Pedido %></td>
        <td><%= link_to 'Show', pago %></td>
        <td><%= link_to 'Edit', edit_pago_path(pago) %></td>
        <td><%= link_to 'Destroy', pago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pago', new_pago_path %>
