<p id="notice"><%= notice %></p>

<p>
  <strong>Fechapago:</strong>
  <%= @pago.FechaPago %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @pago.Subtotal %>
</p>

<p>
  <strong>Total:</strong>
  <%= @pago.Total %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @pago.Pedido %>
</p>

<%= link_to 'Edit', edit_pago_path(@pago) %> |
<%= link_to 'Back', pagos_path %>
