<%= form_for(@material,html: {class: 'form-horizontal'}) do |f| %>
  <% if @material.errors.any? %>
    <div class="form-group">
      <div class="col-sm-2"></div>
      <div  class=" col-sm-6 ">
        <div class="alert alert-danger">
          <% if @material.errors.count > 1 %>
            <h3>Han ocurrido <%= @material.errors.count %>  errores:</h3>
          <% else %>
            <h3>Han ocurrido un error:</h3>
          <% end %>
          <ul>
            <% @material.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Nombre, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :Nombre, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Descripcion, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :Descripcion , class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Cantidad, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :Cantidad, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Unidad, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :Unidad, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :CostoUnidad, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :CostoUnidad, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :Proveedor_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :Proveedor_id, Proveedor.all, :id, :Nombre,{}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <%= f.submit  class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
