<div class="panel panel-default">
  <div class="panel-heading"><h1>Materia prima</h1></div>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Unidad</th>
      <th>Costo unidad</th>
      <th>Costo total</th>
      <th>Proveedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materiales.each do |material| %>
      <tr>
        <td><%= material.Nombre %></td>
        <td><%= material.Descripcion %></td>
        <td><%= material.Cantidad %></td>
        <td><%= material.Unidad %></td>
        <td><%= material.CostoUnidad %></td>
        <td><%= material.CostoTotal %></td>
        <td><%= material.Proveedor.Nombre %></td>
        <td><%= link_to 'Mostrar', material, class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Editar', edit_material_path(material), class: "btn btn-success btn-xs" %></td>
        <td><%= link_to 'Eliminar', material, method: :delete, data: { confirm: '¿Estas seguro?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
  <div class="panel-footer">
<%= link_to 'Nuevo Material', new_material_path , class: "btn btn-success"%>
</div>
</div>
