<div class="container">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Materiales</h3>
    </div>
    <% if notice != nil %>
      <div class="alert alert-info" role="alert">
        <%= notice %>
      </div>
    <% else %>
      <% if alert != nil %>
        <div class="alert alert-info" role="alert">
          <%= alert %>
        </div>
      <% end  %>
    <% end %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Cantidad</th>
          <th>Unidad</th>
          <th>Costounidad</th>
          <th>Costototal</th>
          <th>Proveedor</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @materiales.each do |material| %>
          <tr>
            <td><%= material.Nombre %></td>
            <td><%= material.Descripcion %></td>
            <td><%= material.Cantidad %></td>
            <td><%= material.Unidad %></td>
            <td><%= material.CostoUnidad %></td>
            <td><%= material.CostoTotal %></td>
            <td><%= material.Proveedor.Nombre %></td>
            <td><%= link_to 'Show', material , class: "btn btn-info btn-xs"%></td>
            <td><%= link_to 'Edit', edit_material_path(material), class: "btn btn-primary btn-xs" %></td>
            <td><%= link_to 'Destroy', material, method: :delete, data: { confirm: '¿Estas seguro?' },class: "btn btn-danger btn-xs" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="panel-footer">
      <%= link_to 'Nuevo Material', new_material_path, class: "btn btn-success" %>
    </div>
  </div>  
</div>
</div>

