<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @material.Nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @material.Descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @material.Cantidad %>
</p>

<p>
  <strong>Unidad:</strong>
  <%= @material.Unidad %>
</p>

<p>
  <strong>Costo unidad:</strong>
  <%= @material.Costo_Unidad %>
</p>

<p>
  <strong>Costo total:</strong>
  <%= @material.Costo_Total %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @material.proveedor %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materiales_path %>
