
<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Direccion</th>
			<th>Telefono</th>
			<th>Puesto</th>
			<th>Sueldo</th>
			<th>Email</th>
			<th>Actualizar</th>
			<th>Eliminar</th>
		</tr>
	</thead>
	<tbody>
		<% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.Nombre %></td>
        <td><%= empleado.Direccion %></td>
				<td><%= empleado.Telefono %></td>
				<td><%= empleado.role%></td>
				<td><%= empleado.Sueldo%></td>
				<td><%= empleado.email %></td>
				<td><%= link_to 'Actualizar', edit_empleado_path(empleado.id) %></td>
				<td><%= link_to 'Eliminar',elimina_empleado_path(empleado), data: {confirm: '¿Estas seguro?'} %></td>
      </tr>
    <% end %>
	</tbody>
</table>

