<table>
	<thead>
		<td>Id pedido</td>
		<td>Cliente </td>
		<td>Total</td>
		<td>¿Pagar?</td>
	</thead>
	<tbody>
	<% @pedidos.each do |pedido| %>
		<% if pedido.Confirmado == true and pedido.Pago == nil %>
			<% 	@total = 0
					pedido.Mercancias.each do |mercancia|
						@total = @total + (mercancia.Producto.Costo * mercancia.Cantidad)
					end
			 %>

			<tr>
				<td><%= pedido.id %></td>
				<td><%= pedido.Cliente.Nombre %></td>
				<td><%= @total %></td>		
				<td><%= link_to 'Ver',muestra_pedido_path(pedido.id) %></td>

				<td><%= link_to 'Pagar',realiza_pago_path(pedido) %></td>
			</tr>

		<% end %>
	<% end %>
	</tbody>
</table>
