
<div class="panel">
	<div class="panel-heading">
<p>SubTotal: <%= @pago.PrecioSinIva %></p>
<p>Total: <%= @pago.PrecioTotal %></p>
<%= link_to 'Pagar', pagar_path(@pedido), class: "btn btn-success" %>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Cantidad</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<% @pedido.Mercancias.each do |mercancia|  %>
			<tr>
							<td><%= mercancia.Producto.Nombre %></td>
							<td><%= mercancia.Descripcion %></td>
							<td><%= mercancia.Cantidad %></td>
							<td><%= mercancia.Producto.Costo * mercancia.Cantidad %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="panel-footer"></div>

