<div class="panel panel-default">
	<div class="panel-heading">
		Por pagar
	</div>
	<table class="table table-striped">
		<thead>
			<td>Id pedido</td>
			<td>Cliente </td>
			<td>Fecha</td>a
			<td>Total</td>
		</thead>
		<tbody>
			<% @pedidos.each do |pedido| %>
				<% if pedido.Pago != nil %>
					<% 	@total = 0
						pedido.Mercancias.each do |mercancia|
						@total = @total + (mercancia.Producto.Costo * mercancia.Cantidad)
					end
			 	%>

			<tr>
				<td><%= pedido.id %></td>
				<td><%= pedido.Cliente.Nombre %></td>
				<td><%= pedido.Pago.FechaPago %>
				<td><%= @total %></td>	
				<td><%= link_to 'Ver', muestra_pedido_path(pedido.id), class: "btn btn-primary" %></td>

			</tr>

		<% end %>
	<% end %>
	</tbody>
</table>
<div class="panel-footer"><%= link_to 'Regresar', :back, class: "btn btn-default" %></div>
