<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Material</h3>
    </div>
    <div class="panel-body">    
      <% if notice != nil %>
        <div class="alert alert-info" role="alert">
          <p id="notice"><%= notice %></p>
        </div>
      <% end %>

		<p>
  			<strong>Nombre:</strong>
  			<%= @producto.Nombre %>
		</p>

		<p>
  			<strong>Descripcion:</strong>
  			<%= @producto.Descripcion %>
		</p>
		<p>
  			<strong>Costo:</strong>
  			<%= @producto.Costo %>
		</p>
	</div>
    <div class="panel-footer">      
      <%= link_to 'Edit', edit_producto_path(@producto), class: 'btn btn-info' %> 
      <%= link_to 'Back', productos_path, class: 'btn btn-warning' %>
    </div>
  </div>
</div>
