<div class="container">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="panel panel-default">
    <div class="panel-heading">
		<p>
  			<strong>Fecha del pedido:</strong>
  			<%= @pedido.FechaPedido %>
		</p>
	</div>	
	<% if notice != nil %>
    	<div class="alert alert-info" role="alert">
      		<%= notice %>
    	</div>
    <% else %>
    	<% if alert != nil %>
     		<div class="alert alert-info" role="alert">
       			<%= alert %>
       		</div>
    	<% end  %>
    <% end %>
	<table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Cantidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @total = 0.0 %>
        <% @pedido.mercancias.each do |mercancia| %>
          <% @total = @total + (mercancia.Producto.Costo * mercancia.Cantidad)  %>
          <tr>
            <td><%= mercancia.Producto.Nombre %></td>
            <td><%= mercancia.Descripcion %></td>
            <td><%= mercancia.Cantidad %></td>
            <td> <% if @pedido.confirmado == false %>
                    <%= link_to 'Eliminar', mercancia, method: :delete, data: { confirm: '¿Estas seguro?' }, class: "btn btn-danger" %>
                  <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
	<div class="panel-footer">
    <div class="col-sm-4"><h3>Total : $<%= @total %></h3></div>
      <% if @pedido.confirmado == false %>
      <%= link_to 'Confirmar pedido', edit_pedido_path(@pedido),class: "btn btn-default" %>
		  <%= link_to 'Agregar mercancia',new_mercancia_path(Pedido: @pedido), class: "btn btn-success" %>
		  <%= link_to 'Eliminar pedido', @pedido, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-warning"%>	
      <% end %>
      <%= link_to 'Regresar', :back , class: "btn btn-info"%>
      <%= link_to 'Inicio', root_path, class: 'btn btn-warning'%>
      <% if empleado_signed_in? %>
        <td><%= link_to 'Pagar',new_pago_path(Pedido: @pedido), class: "btn btn-danger" %>  </td>
      <% end %>
	</div>
</div>
</div>
</div>