<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<div class="control-group">
					<%= f.label :Nombre, :class => 'form-label' %> <br/>
					<%= f.text_field :Nombre, :class => 'form-control' %>
	</div>
	<div class="control-group">
					<%= f.label :Apellido_paterno, :class => 'form-label' %> <br/>
					<%= f.text_field :Apellido_paterno,  :class => 'form-control' %>
	</div>
	<div class="control-group">
					<%= f.label :Apellido_materno, :class => 'form-label' %> <br/>
					<%= f.text_field :Apellido_materno,  :class => 'form-control' %>
	</div>
	<div class="control-group">
					<%= f.label :Direccion, :class => 'form-label' %> <br/>
					<%= f.text_field :Direccion, :class => 'form-control' %>

	</div>
	<div class="control-group">
					<%= f.label :Telefono, :class => 'form-label' %> <br/>
					<%= f.text_field :Telefono , :class => 'form-control' %>
	</div>

  <div class="control-group">
    <%= f.label :email , :class => 'form-label' %> <br/>

    <%= f.email_field :email, autofocus: true , :class => 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="control-group">
    <%= f.label :password , :class => 'form-label' %> <i>(dejealo en blanco si no deseas cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "off" , :class => 'form-control' %>

  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'form-label' %> <br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" , :class => 'form-control' %>

  </div>

  <div class="control-group">
    <%= f.label :current_password , :class => 'form-label' %> <i>(Es necesario tu password actual para confimar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" , :class => 'btn btn-info' %>
  </div>
<% end %>

<h3>Eliminar mi cuenta</h3>

<p>¿Algun problema? <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete , :class => 'btn btn-danger' %></p>

<%= link_to "Regresar", :back , :class => 'btn btn-success' %>

