<h2>Registro de cliente</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { :class => "form-horizontal proveedor"  }) do |f| %>
  <%= devise_error_messages! %>
<div class="control-group">
					<%= f.label :Nombre, :class => 'form-label' %> <br/>
					<%= f.text_field :Nombre, :class => 'form-control' %>
	</div>
	<div class="control-group">
					<%= f.label :Apellido_paterno, :class => 'form-label' %> <br/>
					<%= f.text_field :Apellido_paterno,  :class => 'form-control' %>
	</div>
	<div class="control-group">
					<%= f.label :Apellido_materno, :class => 'form-label' %> <br/>
					<%= f.text_field :Apellido_materno,  :class => 'form-control' %>
	</div>
	<div class="control-group">
					<%= f.label :Direccion, :class => 'form-label' %> <br/>
					<%= f.text_field :Direccion, :class => 'form-control' %>

	</div>
	<div class="control-group">
					<%= f.label :Telefono, :class => 'form-label' %> <br/>
					<%= f.text_field :Telefono , :class => 'form-control' %>

	</div>
	<div class="control-group">
    <%= f.label :email, :class => 'form-label' %> <br/>

    <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
  </div>

	<div class="control-group">
    <%= f.label :password, :class => 'form-label' %> <br/>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> caracteres minimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
  </div>

	<div class="control-group">
    <%= f.label :password_confirmation, :class => 'form-label' %> <br/>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
  </div>

	<div class="actions">
		<br/>
    <%= f.submit "Registrar", :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render "Clientes/shared/links" %>
