<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.Nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @cliente.Apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @cliente.Apellido_materno %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.Direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.Telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cliente.Correo %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
